{% extends "layout.html" %}
{% block body %}
<ol>
{% for pair in data %}
<li>
{{pair[0]}}:{{pair[1]}}
{% endfor %}
</ol>

<form action="{{url_for('get_value') }}" method=get>
  <dl>
    <dt> Get a Value by Key: </dt>
    <dd><input type=text size=30 name=key></dd>
  </dl>
  <input type=submit value="Get!">
</form>
<br>
<form action="{{url_for('put_value') }}" method=post>
  <dl>
    <dt> Associate a Key:</dt>
    <dd><input type=text size=30 name=key></dd>
    <dt> With a Value:</dt>
    <dd><input type=text size=30 name=value></dd>
  </dl>
  <input type=submit value="Put!">
</form>
<form action="{{url_for('remove_value') }}" method=post>
  <dl>
    <dt> Remove pair:</dt>
    <dd><input type=text size=30 name=key></dd>
  </dl>
  <input type=submit value="Remove!">
</form>


{% endblock %}

